<!DOCTYPE html>
<html lang="en">


  <head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Politics Predicted</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">

                
    </head>


  <body style="height:1500px">
      <!-- <div class="container">
          <img src="static/flag-back.jpg" alt="Flag" style="width:100%;">
        </div>
   -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">Predicting Politics with Machine Learning</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="not-active"><a href="/"><img alt="Flag Icon" src="../static/icons/us-icon.png">  Home</a></li>
          <li class="active"><a href="/party-prediction-input"><img alt="President" src="../static/icons/politician.png">  Political Party Prediction</a></li>
        </ul>
      </div>
    </nav>

<div class="response">
    <img src=
    {% if data['predictions'] == "Republican" %} 
      "/static/republican.jpg" 
    {% else %} 
      "/static/democrat.png" 
    {% endif %}>
</div>

</body>

</html>